@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

.background-extendido{
    background-color: #2E948A
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

body{
    margin: 0;
}

.header-container{
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul{
    list-style: none;   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.header-nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

    /* footer  */
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.footer-nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.btns-footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btns-footer a{
    text-decoration: none;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #FFF;
    border-radius: 62px;
    padding: 5px 30px;

}



@media screen and (max-width: 1600px) {
    .header-nav ul{
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        padding: 10px 0;
        margin: 0 auto;
        
    }
}

@media screen and (max-width: 570px) {
    .header-container{
        width: 100vw;
        background-color: #2E948A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
    }
    .header-nav ul{
        margin: 0;
        padding: 0;
        gap: 20px
    }
}
