body{
    margin: 0;
}

.main-container{
    margin: 100px 0;
}

.header-container{
    width: 100vw;
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
}

.header-nav ul{
    width: 20vw;
     list-style: none;
     display: flex;
     justify-content: space-between;
    margin-right: 10px;
}