h2{
    color: #009688;
    font-size: 37px;
    font-weight: 700;
    margin-left: 10%;
}

.longo{
    width: 100%;
    background-color: #F7F7F7;
}

.features-container{
    /* height: 712px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.features-container-info{
    width: 320px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 5% 10% 0;
}

.features-container-info h1{
    color: #FF4081;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

.features-container-info p{
    color: #555555;
    font-size: 27px;
    font-weight: 400;
    margin-top: 20px;
}
.features-container a{
    text-decoration: none;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-size: 27px;
    font-weight: 400;
    padding: 10px 25px;
}

.features-container a:hover{
    color: #FFF;
    background-color: #FF4081;
}

.curses-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
}

.curses-container-content{
    width: 344px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center
}

.curses-container-content img{
    height: 270px;
    margin: 10px;
}

.curses-container-content h3{
    color: #FF4081;
    font-size: 25px;
    font-weight: 700;
}

.curses-container-content p{
    color: #000000;
    font-size: 17px;
    font-weight: 300;
}

.curses-container-content a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    background-color: #FF4081;
    border-radius: 62px;
    padding: 10px 25px;
}

.depo-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto 5% auto;
}

.depo-list-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.depo-list-box-id{
    width: 495px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-user{
    color: #000000;
    font-size: 18px;
    font-weight: 300;
}

.user-name{
    font-weight: 400px;
}

.more-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F7F7F7;
    padding: 5% 0;
}

.flex-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
}

.more-content-content{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

.more-content-content h3{
    color: #009688;
    font-size: 27px;
    font-weight: 700;
    margin: 0;
}

.btn-todos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-todos a{
    text-decoration: none;
    text-align: center;
    color: #FF4081;
    font-size: 25px;
    font-weight: 400;
    border: 2px solid #FF4081;
    border-radius: 62px;
    padding: 10px 25px;
    transition: 300ms;
}

.btn-todos a:hover{
    color: #FFF;
    background-color: #FF4081;
}



@media screen and (max-width: 850px){
    h2{
        text-align: center;
    }

    
    .img-container{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    h3{
        text-align: center;
        margin: 0 auto;
    }
    .curses-container-content{
        margin-bottom: 25px;
    }
    .curses-container-content h3{
        margin: 5px 0 0 0;
    }
}

@media screen and (max-width: 520px) {
    h2{
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .features-container-info{
        justify-content: center;
        align-items: center;
    }
    .features-container-info h1{
        text-align: left;
        font-size: 50px;
    }
    .features-container-info p{
        font-size: 22px;
    }
    .features-container-info a{
        font-size: 22px;
    }

    h2{
        font-size: 30px;
    }
}